/* AngularJS specific */

/* ngCloak directive style */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}


/*  */
body {
	font-family: helvetica, arial, sans-serif;
	font-size: 62.5%;
}

#content {
	font-size: 1.2em;
	width: 100%;
}