/* AngularJS specific */

/* ngCloak directive style */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}


/*  */
body {
	font-family: Helvetica, arial, sans-serif;
}

h3 {
	margin-bottom: 20px;
}

label {
	font-size: 0.9em;
}

.checkbox label {
	font-weight: bold;
	vertical-align: text-bottom;
}

.form-group,
.input-group {
	margin-bottom: 25px;
}

/*.panel-group {
	margin-bottom: 20px;
}*/


#content {
	font-size: 1.2em;
	width: 100%;
}


/* User input */
#submission-area {
	margin-bottom: 50px;
	padding-top: 50px;
}

.is-required {
	color: #a94442;
	font-weight: bold;
}

.text-muted .is-required {
	vertical-align: middle;
}

.submission-result {
	margin-bottom: 1em;
/*	padding-left: 0;
	padding-right: 0;*/
}



/* OpenLayers */
#map-block {
	margin-bottom: 2em;
}

#map.olMap {
	height: 350px;
	width: 100%;
}

#map-block a.locate {
	margin-top: 1em;
}

.olControlAttribution {
	bottom: 0;
	font-size: 0.7em;
}

